:host {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}
.column-layout {
	display: flex;
	flex-direction: column;
}
.group {
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	position: relative;
	min-width: 50px;
	min-height: 50px;
	flex-grow: 1;
	flex-shrink: 0;
}
.row-layout {
	display: flex;
}
.group_1 {
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	position: relative;
	min-width: 50px;
	min-height: 50px;
	flex-grow: 1;
	flex-basis: 0;
}
.group_2 {
	border-color: hsla(var(--ig-gray-200));
	border-width: 1px 1px 0px;
	border-style: solid;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	position: relative;
	min-width: 50px;
	min-height: 50px;
	flex-grow: 1;
	flex-basis: 0;
}
.group_3 {
	border-color: hsla(var(--ig-gray-200));
	border-width: 1px;
	border-style: solid;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	position: relative;
	min-width: 50px;
	min-height: 50px;
	flex-grow: 1;
	flex-basis: 0;
}
.button {
	height: max-content;
}
