<div class="column-layout group">
	<div class="row-layout group_1">
		<div class="column-layout group_2">
			<button igxButton="raised" igxRipple class="button">
				Button
			</button>
		</div>
		<div class="column-layout group_2">
			<app-guage guageName="clock"></app-guage>
		</div>
		<div class="column-layout group_2">
			<button igxButton="raised" igxRipple class="button">
				Button
			</button>
		</div>
	</div>
	<div class="row-layout group_1">
		<div class="column-layout group_3">
			<button igxButton="raised" igxRipple class="button">
				Button
			</button>
		</div>
		<div class="column-layout group_3">
			<button igxButton="raised" igxRipple class="button">
				Button
			</button>
		</div>
		<div class="column-layout group_3">
			<button igxButton="raised" igxRipple class="button">
				Button
			</button>
		</div>
	</div>
</div>
